@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

body {
  background-color: #f7f7f7; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1000px;
  margin: 50px auto; }

header {
  grid-column: 1/5;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  header .logo {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 150%;
    font-weight: 700;
    letter-spacing: 1px; }
    header .logo::before {
      content: "+";
      color: #333;
      font-weight: 900; }
  header nav {
    text-align: right; }
    header nav ul {
      list-style: none;
      padding-right: 15px;
      padding-top: 5px; }
      header nav ul li {
        display: inline-block;
        font-family: Roboto, sans-serif;
        font-size: 110%;
        font-weight: 400;
        padding-left: 10px;
        cursor: pointer;
        transition: 0.3s; }
        header nav ul li:hover {
          color: #dd1c1a; }

.hero {
  grid-column: 1/5;
  height: 500px;
  margin: 45px 15px 0 15px;
  background-image: url("./img/hero.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative; }
  .hero span {
    display: inline-block;
    margin-top: 150px;
    padding: 5px 25px;
    width: 600px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    color: #f7f7f7;
    background-color: #333;
    font-size: 350%;
    letter-spacing: 5px;
    text-align: left;
    position: absolute;
    right: 0;
    top: -70px; }

.mid {
  grid-column: 1/5;
  margin: 160px 15px 45px 15px;
  padding-left: 10px;
  height: 500px;
  font-family: Roboto, sans-serif; }
  .mid h1 {
    margin-bottom: 45px;
    padding: 5px;
    display: inline-block;
    background-color: #333;
    color: #f7f7f7;
    letter-spacing: 2px;
    font-size: 150%; }
  .mid p {
    width: 40%;
    padding: 5px;
    margin-bottom: 15px;
    color: #333;
    font-size: 120%;
    line-height: 30px; }
  .mid .strike {
    text-decoration: line-through; }
  .mid .highlightRed {
    color: #f7f7f7; }

.highlight {
  background-color: #f0c808; }

.highlightRed {
  background-color: #07a0c3;
    background-color-color: #f7f7f7;
    background-color-font-weight: 700;
    background-color-font-size: 120%; }

.quickLook {
  grid-column: 1/5;
  margin: 160px 15px 45px 15px;
  padding-left: 10px;
  height: 500px;
  font-family: Roboto, sans-serif; }
  .quickLook h2 {
    margin-bottom: 150px;
    padding: 5px;
    display: inline-block;
    background-color: #333;
    color: #f7f7f7;
    letter-spacing: 2px;
    font-size: 250%; }
  .quickLook ul {
    list-style: none;
    text-align: right; }
    .quickLook ul li {
      font-weight: 700;
      font-size: 500%;
      color: #333;
      margin-bottom: 15px; }
      .quickLook ul li .highlight {
        padding: 2px 15px; }

footer {
  grid-column: 1/5;
  font-family: Roboto, sans-serif;
  color: #f0c808;
  margin-top: 250px;
  line-height: 20px; }
  footer #cred {
    width: 400px;
    float: left; }
    footer #cred small {
      display: inline-block;
      background-color: #07a0c3;
      padding: 10px;
      font-weight: 500; }
      footer #cred small a {
        color: #f7f7f7; }
  footer #social {
    float: right;
    color: #333;
    padding-right: 15px; }
    footer #social i {
      padding-left: 15px;
      cursor: pointer;
      transition: 0.3s; }
      footer #social i:hover {
        color: #07a0c3; }


